@model ContentAddViewModel

@{
    ViewData["Title"] = "Edit";
}

@using (Html.BeginForm())
{
    @foreach (var category in Model.Contents.GroupBy(f => f.Category))
    {
        <table>
            <tr>
                <td>
                    <h2>@category.Key.Name</h2>
                </td>
                <td>
                    <h2>@category.Key.TotalValue.ToString("c")</h2>
                </td>
            </tr>
       
            <tr>
                <td><h3>Content</h3></td>
                <td><h3>Value</h3></td>
                <td><h3>Action</h3></td>
            </tr>
        @foreach (var content in category.Key.Contents)
        {
            <tr>
                <td>
                    @content.Name
                </td>
                <td>
                    @content.Value.ToString("c")
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = content.ContentId })
                </td>
            </tr>
        }
        </table>
        <hr/>
    }

}
@using (Html.BeginForm())
{
    <h4>Add Content</h4>
    <hr />
    <table>
        <tr>
            <td>@Html.TextBoxFor(f => f.Content.Name, new { @value = "Content Name" })</td>
            <td>@Html.TextBoxFor(f => f.Content.Value, new { @value = 0 })</td>
            <td>@Html.DropDownListFor(f => f.Content.CategoryId, Model.CategoryList)</td>
            <td><input type="submit" value="Add" class="btn btn-default" /></td>
        </tr>
    </table>
}