@model ContentAddViewModel

@{
    ViewData["Title"] = "Content Limit Insurance";
}

@using (Html.BeginForm())
{
    <link href="~/lib/css/StyleSheet.css" rel="stylesheet" />

    @foreach (var category in Model.Contents.GroupBy(f => f.Category))
    {
        <table>

            <tr></tr>
            <tr>
                <th>
                    @category.Key.Name
                </th>
                <th>
                    @category.Key.TotalValue.ToString("c")
                </th>
            </tr>
        </table>
        <table>
            <tr></tr>
            <tr>
                <th>Content</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
            @foreach (var content in category.Key.Contents)
            {
                <tr>
                    <td>
                        @content.Name
                    </td>
                    <td>
                        @content.Value.ToString("c")
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = content.ContentId })
                    </td>
                </tr>
            }
        </table>
        <br />
    }
    <table>
        <tr></tr>
        <tr>
            <th>
                Total
            </th>
            <th>
                @Model.Total.ToString("c")
            </th>
        </tr>
    </table>
}
@using (Html.BeginForm())
{
    <table>
        <tr>
            <th>
                Add Content
            </th>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(f => f.Content.Name, new { @value = "Content Name" })</td>
            <td>@Html.TextBoxFor(f => f.Content.Value, new { @value = 0 })</td>
            <td>@Html.DropDownListFor(f => f.Content.CategoryId, Model.CategoryList)</td>
            <td><input type="submit" value="Add" class="btn btn-default" /></td>
        </tr>
    </table>
}